{% extends "LSBAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <div class="container" id="legalNotice-page" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-offset-1 col-sm-10 text-justify">
            <h2>MENTIONS LÉGALES</h2>
            <p>
                Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir.
                En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.
            </p>
            <p>
                <b>EDITEUR DU SITE</b><br />
                BASTIDE Sébastien<br />
                02 rue des Tanneries<br />
                03000 MOULINS<br />
                Tèl : 06 80 42 68 55<br />
                E-mail : bastide.sebastien@gmail.com<br />
            </p>
            <p>
                <b>CONDITIONS D'UTILISATION</b><br />
                Le site accessible par les url suivants : www.les-seigneurs-bourbonnais.fr est exploité dans le respect de la
                législation française. L'utilisation de ce site est régie par les présentes conditions générales.
                En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées.
                Celles-ci pourront êtres modifiées à tout moment et sans préavis par l'association.
                L'association Les Seigneurs Bourbonnais ne saurait être tenu pour responsable en aucune manière d’une mauvaise
                utilisation du service.
            </p>
            <p>
                <b>CONFIDENTIALITÉ</b><br />
                Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour
                la bonne exécution de la prestation.
            </p>
            <p>
                <b>HÉBERGEUR</b><br />
                Hostinger<br />
                Plateforme de gestion et création de sites internet<br />
                <i>http://www.hostinger.fr</i><br />

            </p>
            <p>
                <b>COOKIES</b><br />
                Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits
                fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation.
                Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.
            </p>
        </div>
    </div>

{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}