{% extends "LSBAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    <h1>LOBBY PAGE</h1>

{% endblock %}

{% block javascripts %} {{ parent() }} {% endblock %}