body {
    font-family: Roboto, Arial, serif;
    color: #17141f;
    background-color: #17141f;
}

.return-button {
    margin-top: 20px;
}

.return-button a {
    color: white;
    text-decoration: none;
}

#home-page,#tournament-page, #lobby-page, #warhammer40k-page, #warhammerBattle-page, #boardGame-page, #legalNotice-page, #adminHome-page, #userManagement-page {
    background-color: white;
    min-height: 600px;
}

/* ------------------ ADMIN AREA ------------------ */
#admin-area-content {
    color: lightgray;
    font-size: 30px;
    font-weight: 900;
    padding: 40px 0;
}

#admin-page {
    background-color: white;
}

.navbar {
    margin-bottom: 0;
    font-size: 16px;
}

#userManagement-page {
    padding-top: 20px;
}

#users-table tbody tr td {
    border-top: none;
}

.icon-management {
    padding: 0 5px;
}

/* ------------------ FOSUSER BUNDLE ------------------ */
.fos-user-forms {
    background-color: white;
    color: #17141f;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
}


#confirmed-email, #checked-email {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}


.check-email {
    color: #17141f;
    margin-top: 30px;
}

#error-form-login {
    margin-top: 20px;
}

/* ------------------ HOME AREA ------------------ */
#home-page {

}

#connexion-bar {
    margin-top: 8px;
    padding: 0 20px;
 }

#connexion-bar a {
    color: white;
    text-decoration: none;
    margin-top: 8px;
}

.margin-connexion-button {
    margin-right: 20px;
}

.connexion-button {
    padding: 10px 20px;
    background-color: #2f293f;
}

.connexion-button:hover {
    background-color: #6441a4;
}

@media screen and (max-width: 768px)
{
    .connexion-button {
        display: block;
        text-align: center;
    }

    .margin-connexion-button {
        margin-right: 0;
    }
}

#banner {
    background-color: #2f293f;
    background-image: url("../img/2560x320.jpg");
    width: 100%;
    height: 320px;
    position: relative;
    top: 70px;
    border-bottom: 2px solid #555555;
    border-top: 2px solid #555555;
}

@media screen and (max-width: 1920px)
{
    #banner {
        background-image: url("../img/1920x320.png");
    }
}

@media screen and (max-width: 1366px)
{
    #banner {
        background-image: url("../img/1366x320.jpg");
    }
}

@media screen and (max-width: 800px)
{
    #banner {
        background-image: url("../img/800x320.jpg");
    }
}

#banner-title {
    background-color: #2f293f;
    color: white;
    width: 500px;
    font-size: 24px;
    font-weight: 400;
    margin: -20px auto 0 auto;
    padding: 10px 10px;
    border: 2px solid #555555;
}

#content-home-page {
    margin-top: 100px;
    padding-bottom: 40px;
}

#content-home-page h1 {
    font-weight: 900;
}

#content-home-page h2 {
    font-weight: 900;
}

#content-home-page li {
    color: white;
}

.home-p {
    margin-bottom: 15px;
}

#home-tournament-title h2 {
    font-weight: 900;
}

.tournament-item-title {
    font-size: 18px;
    margin-bottom: 0;
    color: #6441a4;
}

.tournament-item-place {
    font-size: 13px;
    margin-bottom: 0;
}

.tournament-item-info {
    font-size: 13px;
    font-weight: 900;
    color: #AA3333;
    margin-bottom: 20px;
}

#home-tournament-date h2 {
    font-weight: 900;
}

#tournament {
    margin-bottom: 30px;
}

#list-dates {

}

#list-dates a {
    color: white;
    text-decoration: none;
}

.date {
    background-color: #2f293f   ;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.date:hover {
    background-color: #237223;
    transition: 0.4s;
}


/* ------------------ TOURNAMENT AREA ------------------ */
#tournament-title h2 {
    font-weight: 900;
}

#formT {
    margin: 40px 0;
}

#tournament_tournamentDate_time {
    margin-top: 15px;
}

/* ------------------ LOBBY AREA ------------------ */


#list-game-title {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d0d0d0;
}

#list-game-area {
    font-weight: 900;
}

#empty-list-games {
    color: lightgray;
    font-size: 30px;
    padding: 40px 0;
}

#list-game-area a {
    color: white;
    text-decoration: none;
}

.padding-game {
    padding: 0 10px;
}

.game {
    padding: 0;
    border-radius: 5px;
    margin-bottom: 40px;
}

.game-name {
    padding: 10px;
    color: #6441a4;
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid #d0d0d0;
}

.game-name p {
    margin-bottom: 0;
}

.game-type {
    font-weight: 400;
    color: #17141f;
}

.game-content {
    padding-top: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.management-game-button, .management-game-button-join, .management-game-button-delete {
    font-weight: 400;
    background-color: #6441a4;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
}

.management-game-button:hover {
    background-color: #7d5bbe;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.management-game-button-join:hover {
    background-color: #237223;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.management-game-button-delete:hover {
    background-color: #a94444;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

#create-game-area {
    margin-top: 50px;
    margin-bottom: 20px;
}

.hr-bottom {
    border-bottom: 1px solid #d0d0d0;
}

#create-game-title h2 {
    font-weight: 900;
}

.align-shield {
    display: inline-block;
    vertical-align: top;
}

.shield-icon-left {
    position: relative;
    top: 24px;
    right: 20px;
 }

.shield-icon-right {
    position: relative;
    top: 24px;
    left: 20px;
}

#create-button-area {
    font-weight: 900;
    margin-top: 50px;
}

#button-40k, #button-battle, #button-boardgame {
    border: 2px solid #6441a4;
    background-color: white;
    color: #6441a4;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#button-40k:hover, #button-battle:hover, #button-boardgame:hover {
    background-color: #6441a4;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}


/* ------------------ FORM AREA ------------------ */
#form40k, #formBattle, #formBG {
    margin-top: 50px;
}

.creation-game-title {
    font-weight: 900;
    font-size: 30px;
}

.form-button {
    border: 1px solid #6441a4;
    font-weight: 400;
    background-color: #6441a4;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #7d5bbe;
    color: white;
    transition: 0.4s;
}


/* ------------------ FOOTER ------------------ */
#footer {
    background-color: #17141f;
    color: white;
    padding-top: 20px;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: #7d5bbe;
    text-decoration: none;
}

#footer p {
    padding-top: 10px;
}


/* ------------------ LEGAL NOTICE ------------------ */
#legalNotice-page h2 {
    font-weight: 900;
}

#legalNotice-page b {
    color: #7d5bbe;
}

#legalNotice-page p {
    margin-bottom: 25px;
}