{% extends "LSBAppBundle::Admin/index.html.twig" %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block title %} Liste des utilisateurs {% endblock %}

{% block container %}
    <div id="adminHome-page">

    </div>
{% endblock %}
