{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" id="checked-email">
        <div class="return-button">
            <a class="management-game-button" href="{{ path('lsb_app_homepage') }}">Retour à l'accueil</a>
        </div>

        <p class="check-email">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock fos_user_content %}
