{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" id="confirmed-email">
        <div class="return-button">
            <a class="management-game-button" href="{{ path('lsb_app_homepage') }}">Retour à l'accueil</a>
        </div>

        <p class="check-email">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    </div>
{% endblock fos_user_content %}
